
.*


!.gitignore


build/
**/build/
out/


*.iml
*.ipr
*.iws


*.class
*.jar
*.war
*.zip
*.tar.gz
*.rar


*.log


Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/


gradle-app.setting


run/
runs/

target/
dependency-reduced-pom.xml

!gradle-wrapper.jar
